body{
    background-color: lightgrey;
}


.pizza{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-height: fit-content;
}
/* border:3px solid black;
*/


div#one{
    background-color: white;
    width: 55vh;
}

div#two{
    background-color: white;
        height: 40vh;
        width: 55vh;
}

div#three{
    background-color: white;
    height: 40vh;
    width: 55vh;
}

div#four{
    background-color: white;
    width: 55vh;
}



div#one:hover{
    transform: scale(1.1);
}
div#two:hover {
    transform: scale(1.1);
}

div#three:hover {
    transform: scale(1.1);
}

div#four:hover {
    transform: scale(1.1);
}

header{
    background-color: white;;
}



h1 {
    height: 8vh;
}


nav {
    text-align: center;
    color: green;
}


nav a {
    color: green;
    padding-right: 15vh;
}




div#header_container {
    max-height: 7vh;
}


.pizza {
    grid-gap: 20px;
    left:3vh;
}

div.pizza{
    position: relative;
    top: 4vh;
}


p{
    text-align:center;
}



div#image_container {
    position: relative;
    left: 23vh;
    max-width: fit-content;
    max-height: fit-content;
}


p#train{
    text-align:left;
}


h1 {
    color: green;
    font-family: cursive;
}

a{
    text-decoration: none;
}